{% extends 'base.html.twig' %}

{% block title %}candidats{% endblock %}

{% block body %}
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                    <th scope="col">Nom du quiz</th>
            </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                    <tr>
                        <td>
                            <a href="{{ path('app_students', {
                                idQuiz: quiz.id
                            }) }}">{{ quiz.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}