{% extends 'base.html.twig' %}

{% block title %}candidats{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ quiz.name }}</h1>
        

        <table class="table">
            <thead class="tab_head">
            <tr>
                <th scope="col">Nom du cnadidat</th>
            </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <a href="{{ path('app_result', {
                                idQuiz: quiz.id,
                                idStudent: student.id,
                            }) }}">{{ student.fullname }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}