{% extends 'base.html.twig' %}

{% block title %}Questionnaires{% endblock %}

{% block body %}
    <div class="container">

        <table class="table list col-md-6 offset-3">
            <thead class="tab_head">
            <tr>
                    <th scope="col">Liste des questionnaires</th>
            </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                    <tr class="line">
                        <td>
                            <a href="{{ path('app_students', {idQuiz: quiz.id}) }}">{{ quiz.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}